In [39]:
import pandas as pd
import os

stats = pd.read_csv(os.getcwd()+'/P4-Demographic-Data.csv')
len(stats) #195 rows imported

# stats.columns
# stats.head(3)
# stats.tail(3)
# stats.info(2)
stats.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Birth rate,195.0,21.469928,10.605467,7.9,12.1205,19.68,29.7595,49.6610
Internet users,195.0,42.076471,29.030788,0.9,14.5200,41.00,66.2250,96.5468